.body
{
  background-image: url('images/background.jpg');
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  overflow: scroll;
}
.form
{
  padding: 50px;
}
.back
{
  padding: 20px;
}
.Body
{
  margin-bottom: 13vh !important;
}
.google
{
  text-align: center;
}
.link
{
  text-align: right;
}
